<div>
  <input
    type="text"
    placeholder="Search Name"
    (input)="searchMethod(searchInput.value)"
    #searchInput
  />
</div>

<div>
  <input type="text" placeholder="Add Names Here" #input /><button
    class="btn btn-primary"
    (click)="addNames(input.value)"
  >
    Add
  </button>
</div>

<div>
  <h3>List of names</h3>
  <table>
    <thead>
      <th>Names</th>
    </thead>
    <tbody>
      <tr *ngFor="let name of names; trackBy: trackByid">
        <td>Mr.{{ name.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
