.title {
  color: #2c73ba;
  font-weight: bold;
}
.radio-container,
.check-container {
  margin-bottom: 10px;
  float: left;
  width: 22%;
}
select.form-control {
  color: #464242;
}
.radio-input,
.check-input {
  margin-right: 5px;
}

.radio-label,
.check-label {
  margin-right: 15px;
  font-weight: normal;
}

.selected-option-text {
  margin-top: 10px;
  font-weight: bold;
}
.ck.ck-editor__editable_inline {
  height: 150px !important;
}
.img-icon {
  width: 24px;
  height: 24px;
}
.small-icon {
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 7px;
}
.large-icon {
  width: 100%;
  /* height: 100px; */
  /* border: 1px solid #ccc; */
}
.small-image {
  width: 30%;
}
.form-control1 {
  float: left;
  width: 82%;
  height: 38px;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding-left: 5px;
}
.form-control {
  border: 1px solid #ccc;
}
.right-img {
  width: 15%;
  float: left;
}
.invisible {
  display: none;
}
.formula-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}
.add-icon {
  font-size: 23px;
  color: #17a617;
}
.delete-icon {
  font-size: 23px;
  color: red;
}
.ck.ck-editor__editable_inline {
  height: 200px !important;
}

select.ng-invalid.ng-touched{
  border: 2px solid red;
}
