<style>
  td,
  th {
    border: 1px solid black;
    padding: 5px;
  }
</style>
<div class="d-flex justify-content-center flex-column align-items-center">
    <div>
        <input type="text"  [(ngModel)]="searchInput" (input)="clicked()"><button>Search</button>
    </div>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Class</th>
        <th>Medium</th>
        <th>Subject</th>
        <th>Chapter</th>
        <th>Topic</th>
        <th>SubTopic</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tempList; trackBy:trackbyid">
        <td>{{ item.type }}</td>
        <td>{{ item.class }}</td>
        <td>{{ item.medium }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.chapter }}</td>
        <td>{{ item.topic }}</td>
        <td>{{ item.subtopic }}</td>
      </tr>
    </tbody>
    <div class="d-flex justify-content-end align-items-center">
      <button *ngFor="let num of pages" (click)="currentPage=num;clicked()">{{num}}</button>
    </div>
  </table>
</div>
